footer {
    clear: both;
    position: absolute;
    text-align: center;
    bottom: 0;
}

h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: white;
    padding-top: 1rem;
    font-size: 0.8rem
}
