* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    background: url(svgbackground.svg);
    background-color: #131333;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    color: #f2f2f2;
    font-family: 'Old Standard TT', serif;
}
nav .mainMenu li a:hover {
    color: #9b305c;
    transition: 0.7s

}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.logo img {
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

@media(max-width: 700px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #090919;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: #9b305c;
        font-size: 2rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
